@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif , Arial, Helvetica;
  background: #f9fafb;
}

h1, h2 {
  font-weight: 600;
}

h3, h4 {
  font-weight: 500;
}

p, span {
  font-weight: 400;
}

.navbar {
  font-weight: 500;
}

.sidebar {
  font-weight: 500;
}

.card h4 {
  font-weight: 600;
}